<div class="page-header">
  <h1>About</h1>
</div>

<p>This app will help you will all your paddle concerns:</p>
<ul>
	<li>Need to acquire a new or used paddle? We&apos;ve got it!</li>
	<li>Have a paddle to sell? No problem! We can help you find a buyer!</li>
	<li>Got questions concerning a paddle? We&apos;ve got the answers!</li>
</ul>