<div class="page-header">
  <h1>Background &amp; Contact</h1>
</div>

<p>
	We are small group of water sport athletes and enthusiasts with several years of competitive experience under our belts.
	<br>We love what we do, and we want to ensure that athletes of all levels have a go-to place for all their paddling needs.
</p> 
<p>Feel free to contact us via phone or email:</p>
<ul>
	<li>Phone: 514.PADDLES (723.3537)</li>
	<li>Email: info@paddlesup.com</li>
</ul>
