<div class="container">
	<%= image_tag("surf.jpg", class: "img-responsive") %>
  <div class="row">
  	<div class="col-xs-12 intro-text">
			<h1>Welcome to Paddle&apos;s Up!!</h1>
			<h2>Your main online stop for new and used paddles!</h2>
			<p>Welcome!! The date and time is <%= Time.now %></p>
		</div>
	</div>
</div>