<div class="page-header">
  <h1>Message Sent!</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="bigger-text">Hooray!!! The messenger eagle has taken flight and it is now delivering your message.</p>
    <p class="bigger-text"><br>We truly value your voice and opinion, so we would like to thank you for taking the time and effort to write to us. We will respond back as soon as we have received and read your message.</p>
    <p class="bigger-text"><br><%= link_to "Click here", root_path %> to return back to the homepage.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->