<br>
<div class="jumbotron custom-jumbotron">
  <h1>Hello!!!</h1>
  <p>If you are wondering how you got here in the first place, the answer is that the <strong>root route</strong> has been <strong>changed</strong> so that it leads users to this &apos;pre-index&apos; page.</p>

  <p>Click on the button below to be <strong>redirected</strong> to the main page.</p>

  <%= link_to 'Go to Main Page' , main_path , class: "btn btn-primary btn-lg" %>
</div>
