<table align="center" border="1" cellpadding="0" cellspacing="0" style="max-width:600px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; border-collapse: collapse;">
  <tbody>
    <tr>
      <td bgcolor="#337ab7" style="padding: 15px 15px 15px 15px; color: #ffffff; text-align: center">
      	<h1>Hello There!!!</h1>
    	</td>
    </tr>
    <tr>
      <td style="padding: 0px 10px 0px 10px; text-align: center">
      	<table border="0" width="100%">
      		<tr>
      			<td style="color: #b12704;">
      				<h2>Hooray!!!<br>One of us! One of us! One of us!</h2>
      				<hr>
      			</td>
      		</tr>
      		<tr>
      			<td style="padding: 0px 10px 0px 10px; text-align: justify;">
      				<p>Hey! We would like to thank you for signing up and joining the <%= @appname %> community!</p>
      				<p>You will now be able to purchase from a vast selection of paddles for all types of water sports. And if we do not have it, not a problem! We value our community and go through great lengths to ensure that we can help you find the product that you want.</p>
      				<p>In addition to that, if you have had any experience or know a thing or two about any of the paddles featured on our site, then feel free to rate and comment on them! Our entire community benefits from each other's knowledge.</p>
      				<p>That is pretty much all for now.</p>
      			</td>
      		</tr>
      		<tr>
      			<td style="padding: 0px 10px 0px 10px; text-align: justify;">
      				<p>Without further ado... Welcome aboard!</p>
      			</td>
      		</tr>

      	</table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#f8f8f8" style="padding: 10px 10px 10px 10px; color: #777777; text-align: center">
      	<small>The <%= @appname %> Team!</small>
      </td>
    </tr>
  </tbody>
</table>