$('#new_comment').hide();
$('#product-reviews').prepend('<%= j render @comment  %>');
$('#average-rating').attr('data-score', '<%= @product.average_rating %>');
$('#yield-container').prepend('<div class="alert alert-info modified-alert" id="notice" role="alert"><%= flash[:notice] %></div>')