<div class="mini-container">

  <div class="page-header">
    <h1>Editing User</h1>
  </div> <!-- end page header -->

	<%= render 'form', user: @user %>

  <br>
  <hr>
  
  <div class="center-content">
		<%= link_to 'Show', @user %> | <%= link_to 'Back', :back %>
  </div>

</div> <!-- end small-container -->

<br>