// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************/
/* Variables */
/*************/

$grey-border: #e7e7e7;
$grey-font: #777;

$product-thumb-size: 150px;

/***********/
/* General */
/***********/

/* style the product's price */
.product-price {
	font-weight: bold;
	color: #b12704;
}

/* justify text */
.justified { text-align: justify; }

/* pagination */
.pagination {
	margin-top: 0;

	>em, >span, >a {
    position: relative;
    float: left;
    margin-left: -1px;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ddd;
  }

  >a {
	  &:focus, &:hover {
		  z-index: 2;
		  background-color: #eee;
		  border-color: #ddd;  	
		}
  }

  .previous_page { 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .next_page { 
  	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .disabled {
  	color: #777;
  	cursor: not-allowed;
  }

  .current { 
  	color: #fff;
  	background-color: #337ab7;
  	cursor: not-allowed;
   }
}

/******************/
/* Products index */
/******************/

/* Put the products title to the left... */
.products-title { float: left; }

/* ... and the 'New Product' button to the right */
.new-product-btn { 
	float: right;
  margin-top: 20px;
}

/* change the height of the product boxes when width is greater than 768 pixels */
@media (min-width: 768px) {
	.thumbnail {
		height: 450px;
	}
}

/* Style for the product boxes in the products index page */
.thumbnail {
	padding: 15px;

	border: 1px solid $grey-border;

	.caption { margin-bottom: 15px; }

	.thumbnail-footer {
		position: absolute;
		bottom: 21px;
	  left: 15px;
	  right: 15px;

	  margin: 0 15px;
	  padding-top: 10px;
	  padding-bottom: 10px;

	  text-align: center;

		border-top: 1px solid $grey-border;
	}
}

/* the dimensions of the images in the products index page */
.thumbnail-img {
	max-height: $product-thumb-size;
	max-width: $product-thumb-size;
}

/* In case there is no image available */
.no-image {
	color: #ddd;
	font-size: 60px;
	line-height: $product-thumb-size;
	text-align: center;
}

.no-big-image {
	color: #ddd;
	font-size: 120px;
	line-height: 320px;
	text-align: center;	
}

/***********************/
/* Item details (show) */
/***********************/

.product-detail-row { margin-top: 40px; }

/*********************/
/* Add and Edit form */
/*********************/

/* change the width of the small container when width is greater than 768 pixels */
@media (min-width: 768px) {
	.small-container {
		margin: 0 auto;
		width: 737px;
	}
}

/* textareas in the form do not have the bottom-right corner for resizing */
.no-resize { resize: none; }