// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************/
/* variables */
/*************/

$header-footer-height: 50px;

$grey-border: #e7e7e7;
$grey-font: #777;
$grey-background: #f8f8f8;

/***********/
/* general */
/***********/

html {
  position: relative;
  min-height: 100%;	
}

/* adjust the body to accommodate the navbar and the footer*/
body {
	margin-bottom: $header-footer-height;
	padding-top: $header-footer-height;
}

/******************/
/* navigation bar */
/******************/

/* change the hover style on the nav buttons */
.navbar-default {
	.navbar-nav {
		> li {
			> a:hover {
				color: white;
				background-color: #337ab7;
			}
		}
	}
}

/* overwriting some of bootstrap's values */
.navbar-right { margin-right: 0; }

/* a bit of padding to align the bottom boxes in index */
.section-container { 
	padding-top: 15px;
	padding-bottom: 15px;
}

/* the bottom boxes */
section {
	height: 310px;

	padding: 0 15px 15px 15px;

	text-align: center;

	background-color: $grey-background;
	border: 1px solid $grey-border;
	border-radius: 10px;
	-webkit-border-radius: 10px;

	.mini-footer {
		position: absolute;
		bottom: 15px;
    left: 14px;
    right: 14px;

    margin: 0 15px;
    padding: 5px 0;

		border-top: 1px solid $grey-border;
	}

	.img-center { margin: 0 auto; }
}

/**************/
/* footer bar */
/**************/

.footer {
  position: absolute;
  bottom: 0;

  height: $header-footer-height;
  padding: 15px 0;
  width: 100%;
  
  color: $grey-font;

  background-color: $grey-background;
	border-top: 1px solid $grey-border;

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 20px;

			a { color: $grey-font; }
		}
	}
}