// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************/
/* variables */
/*************/

$header-footer-height: 50px;

$grey-border: #e7e7e7;
$grey-font: #777;
$grey-background: #f8f8f8;

$homepage-img-size: 200px;

/***********/
/* general */
/***********/

html {
  position: relative;
  min-height: 100%;	
}

/* adjust the body to accommodate the navbar and the footer */
body {
	margin-bottom: $header-footer-height;
	padding-top: $header-footer-height;
}

.center-content { text-align: center; }
.img-centered { margin: 0 auto; }
.grey-border { border: 1px solid $grey-border; }

/******************/
/* navigation bar */
/******************/

/* change the hover style on the nav buttons */
.navbar-default {
	.navbar-nav {
		> li {
			> a:hover {
				color: white;
				background-color: #337ab7;
			}
		}
	}
}

/* overwriting some of bootstrap's values */
.navbar-right { margin-right: 0; }

/* a bit of padding to align the bottom boxes in index */
.column-custom-padding { 
	padding-top: 15px;
	padding-bottom: 15px;
}

/* the bottom boxes */
.index-box {
	height: 310px;

	padding: 0 15px 15px 15px;

	text-align: center;

	background-color: $grey-background;
	border: 1px solid $grey-border;
	border-radius: 4px;
	-webkit-border-radius: 4px;

	.sign-up-footer {
		position: absolute;
		bottom: 15px;
	  left: 15px;
	  right: 15px;

	  margin: 0 15px;
	  padding-top: 10px;
	  padding-bottom: 10px;

		border-top: 1px solid $grey-border;
	}
}

.homepage-img {
	max-height: $homepage-img-size;
	max-width: $homepage-img-size;
}

/*************/
/* preindex */
/************/

.custom-jumbotron {
	background-color: $grey-background;
	border: 1px solid $grey-border;
}

/***************************/
/* home page item carousel */
/***************************/

.carousel-img-height {
	max-height: 230px;
}

/****************/
/* sign_up page */
/****************/

.sign-up-container, .log-in-container {
	margin: 0 auto;
	max-width: 330px;
}

.double-content {
	margin-bottom: 5px;

	.inline-label { display: inline; }

	.custom-label {
		margin-left: 5px;
		
		font-weight: normal;
	}
}

/**************/
/* login page */
/**************/

.login-form {
	.form-control {
	  position: relative;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;

		&:focus { z-index: 2;	} 
	}

	input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	}
}

/*********************/
/* message_sent page */
/*********************/

.thank-you {
	font-size: 1.75em;
	font-weight: 300;

	a { font-weight: normal; }
}

/**************/
/* footer bar */
/**************/

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  height: $header-footer-height;
  padding: 15px 0;
  width: 100%;
  
  color: $grey-font;

  background-color: $grey-background;
	border-top: 1px solid $grey-border;

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 20px;

			a { color: $grey-font; }
		}
	}
}