// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;	
}

/* adjust the body to accommodate the navbar and the footer*/
body {
	margin-bottom: $footer-height;
	padding-top: 50px;
}

/* change the hover style on the nav buttons */
.navbar-default {
	.navbar-nav {
		> li {
			> a:hover {
				background-color: #3a89c9;
				color: white;
			}
		}
	}
}

/* center the intro text in the index */
.intro-text { text-align: center; }

/* minor h1 styling */
h1 { text-transform: uppercase; }

/* sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
}

/* add top and bottom margins to the footer's text */
.footer-text { margin: 20px 0; }