// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************/
/* Users index */
/***************/

/*
Firefox has some awkward fieldset styling involving width that interferes 
with the responsive table. This cannot be overridden without a 
Firefox-specific hack that it is not provided in Bootstrap
*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* Put the products title to the left... */
.users-title { float: left; }

/* ... and the 'New Product' button to the right */
.new-user-btn { 
	float: right;
  margin-top: 20px;
}