<div class="row">
	<div class="col-xs-12">		

		<div class="page-header">
		  <h3>Customer Reviews</h3>
		</div>

		<div id="product-reviews">
			<% @comments.each do |comment| %>
				<%= render partial: '/comments/comment', locals: { comment: comment } %>
			<% end %>
		</div>

	</div>
</div>

<div class="center-content">
	<%= will_paginate @comments %>
</div>